*.pyc
*.gmo
*.omf
Makefile.in
Makefile
autom4te.cache/
aclocal.m4
conduit/defs.py
config.log
config.status
configure
data/conduit.desktop
data/conduit.desktop.in
data/conduit.pc
data/org.conduit.service
gnome-doc-utils.make
help/*/.xml2po.mo
!help/C/conduit.xml
help/*/conduit.xml
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
missing
mkinstalldirs
py-compile
po/Makefile.in.in
po/.intltool-merge-cache
po/POTFILES
po/stamp-it

