Source: conduit
Section: devel
Priority: optional
Maintainer: John Stowers <john.stowers@gmail.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: conduit
Architecture: any
Depends: ${shlibs:Depends}, python-pysqlite2, 
 python, python-gtk2, python-glade2, python-elementtree, python-pysqlite2,
 python-pygoocanvas (>= 0.4.0), python-avahi (>= 0.6.13), python-dbus (>= 0.71)
 python-gnome2-extras (>= 2.14.2), tango-icon-theme-extras (>=0.1.0)
Recommends: gstreamer-0.10-plugins-ugly
Description: Conduit- Synchronization for GNOME!
 A application to sync your data anywhere
