Source: conduit
Section: devel
Priority: optional
Maintainer: John Stowers <john.stowers@gmail.com>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: conduit
Architecture: any
Depends: ${shlibs:Depends}, python-pysqlite2, 
 python, python-gtk2, python-glade2, python-elementtree, python-pysqlite2,
 python-pygoocanvas (>= 0.4.0)
Recommends: gstreamer-0.10-plugins-ugly, python2.4-gnome-extras, python-cddb
Description: Conduit- Synchronization for GNOME!
 A application to sync your data anywhere
