Source: conduit
Section: Utilities
Priority: extra
Maintainer: Marcos Rodriguez <marcosrdz@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, libgoocanvas-dev, python-pygoocanvas, libgoocanvas1, python-elementtree, python-sqlite, python-vobject, libxml-parser-perl, python-gtk2-dev, libdbus-1-dev, python-dbus
Standards-Version: 3.7.2

Package: conduit
Architecture: all
Depends: python, python-gtk2, python-pygoocanvas, python-vobject, libgoocanvas1, python-elementtree, python-sqlite, libxml-parser-perl, python-pysqlite2
Description: Conduit is a synchronization solution for GNOME 
 Which allows the user to take their emails, files, bookmarks, and any 
 other type of personal information and synchronize that data with another 
 computer, an online service, or even another electronic device.
 .
 Homepage: http://www.conduit-project.org/
